#logo {
  padding-left: 50px;
  width: 35px;
  height: 35px;
}

.nav li{
  list-style-type: none;
  display: inline-block;
  padding: 5px;
  color: #151212;
}
.nav button {
  background: #fff;
  border: none;
}
 
#bottomNav li{
  list-style-type: none;
  display: inline-block;
  padding: 15px;
  color: gray;
}

#bottomNav {
  padding: 50px;
}


#bottomNav span {
  text-decoration: underline;
  color: #151212;
}

#agently {
  font-size: 40px;
  font-weight: normal;
  padding-right: 300px;

}

#filter {
    border: solid;
    border-radius: 10px;
    border-color: gray;
    font-size: 12px;
    color: #151212;
}

input {
  padding: 15px ;
  border-radius: 30px;
  outline: none;
  border: 1px solid #d6d1d5;
  font-size: 20px;
  
}

input::placeholder {
  font-size: 15px;
  font-weight: lighter;
  color: #bbb;
  
}

#input {
  padding-right: 180px;
}

#user {
  width: 80px;
  height: 80px;

}

.properties li {
  list-style-type: none;
  padding: 5px 15px 0;
  float: left;
  color: #151212;
  padding-left:0;

}

.properties img {
  width: 245px;
  height: 245px;
  border-radius: 5%;

}

.properties button {
  background: #fff;
  border: none;
}

.specs img{
  width: 20px;
  height: 20px;
}

.specs li{
  list-style-type: none;
  display: inline-block;
  color: #151212;
  background: #fff;
  padding-left:0;
}

#nums li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
}

#nums img {
  width: 25px;
  height: 25px;
}
#nums {
  text-align: center;
  color: #151212;
  padding: 50px;
}

#rooms img{
  width: 40px;
  height: 40px;
}

#rooms li {
  list-style-type: none;
  display: inline-block;
  padding-left: 80px;
  padding-top: 5px;
  padding-left:0;
 
}
#rooms {
  padding: 20px; ;
}

.threee {
  font-size: 25px;
  color: #151212;
}

.three {
  font-size: 15px;
  color: #151212;

}

#arrow {
  width: 25px;
  height: 25px;
  padding: 40px 31px 0px;
}

#distance {
  color: gray;
  padding-right: 70px;
}

#copyrights li {
  display: inline-block;
  padding: 10px;
  color: #151212;
}

#lang {
  color: #151212;
  float: right;
  list-style-type: none;
  padding: 20px;
}

#circle {
  width: 12px;
  height: 12px;
  line-height: 15px;
  border-radius: 50%;
  border: solid;
  border-color: #151212;
  color: #151212;
  text-align: center;
}

#listings {
  padding: 10px 10px 10px 50px ;
}

.image {
  float: left;
  padding-left: 30px;

}
.image img {
  padding: 30px 100px 30px 0;
  width: 600px;
  height: 550px;
  border-radius: 35px;
 
}
.info {
  padding-top: 60px;
}

#desc li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
}

#desc {
  text-align: center;
  padding-bottom: 50px;
}
#desc span {
  text-decoration: underline;
  color: #151212;

}

.image h4 {
  text-decoration: underline;

}

#angle {
  color: gray;
}

#own {
  font-size: 25px;
  font-weight: bold;
}

#own span{
  text-decoration: underline;
  color: #151212;
}

#show {
  text-decoration: underline;
  color: #151212;
}

#buy {
  text-align: center;
  background-color: #151212;
  color: #fff;
  border-radius: 10px;
  padding: 35px 30px 0px;
  font-size: 20px;
}

#bbutton li{
  padding-left: 20px;
  list-style-type: none;
  display: inline-block;
}

#search {
    position: absolute;
    left: 850px;
    top: 111px;
    width: 20px;
    height: 20px;
}
.share img {
  width: 30px;
  height: 30px;
  border: solid;
  border-color: #151212;
  border-radius: 10px;
  padding: 10px;
}
.share {
  padding-top: 30px;
}

#states {
  list-style-type: none;
  display: inline-block;
  padding-right: 70px;

}

.New {
  background-color: rgb(10, 136, 10);
  color: #fff;
  padding: 5px;
  font-size: 10px;
  text-align: center;
}

.Serviced {
  background-color: rgb(29, 29, 201);
  color: #fff;
  font-size: 10px;
  padding: 5px;
  text-align: center;
}
#location {
  padding-right: 105px;
}
#stats li{
  list-style-type: none;
  display: inline-block;
  padding-right: 45px;
   
}

#loc {
  padding-right: 200px;
}

#error {
  color: red;
}

ul {
  padding-left: 0;
}

@media screen and (min-width: 400px) {
  #listings {
    display: grid;
    grid-template-columns: 1fr 1fr;
  
  }

  #logo {
    padding-left: 50px;
    width: 20px;
    height: 20px;
  }
}


@media screen and (min-width: 600px) {
#listings {
  display: grid;
  grid-template-columns: 1fr 1fr;

}


}


@media screen and (min-width: 768px) {
  #listings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
  
  }
  


}

@media screen and (min-width: 920px) {
  #listings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
  
  }
}

@media screen and (min-width: 1200px) {
  #listings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  
  }
  
  


}

